extends layout

block content
  header.intro
    div.intro-body
      div.container
        div.row
          div(class='col-md-8 col-md-offset-2')
            h1.brand-heading A.K.A.
            p.intro-text 
              | People know me by different names. Xiaoyu is just one of them. Raymond is another. 
              | And Thunder. And Hui-yu. And Shaw-you. 
              | All the AKAs refer to the same person but each of them has a differnt story behind its name.
            a(class='btn btn-circle page-scroll', href='#about')
              i(class='fa fa-angle-double-down animated')

  section(id='about', class='container content-section text-center')
    div.row
      div(class='col-lg-8 col-lg-offset-2')
        h2 About Xiaoyu
        p.
          Xiaoyu, aka Raymond, is a software engineer with experience in automated testing. Currently, he works
          at <a href="http://cimpress.com/">Cimpress</a> (previously <a href="http://vistaprint.com">Vistaprint</a>) 
          as a member of the Enterprise Integration team. Outside the "grown-up" job, Xiaoyu keeps himself 
          occupied by side projects, the latest of which is <a href="http://www.benefitmy.com/">BenefitMy</a>.

  section#download(class='content-section text-center')
    div.download-section
      div.container
        div(class='col-lg-8 col-lg-offset-2')
          h2 My On-going Projects
          p.
            Coming soon.

  section#contact(class='container content-section text-center')
    div.row
      div(class='col-lg-8 col-lg-offset-2')
        h2 Contact Xiaoyu
        p.
          Feel free to contact me to provide some feedback on my homepage, give me suggestions, or to just say hello.
        a(href='mailto:feedback[at]leixiaoyu.com')
        ul(class='list-inline banner-social-buttons')
          li
            a(class='btn btn-default btn-lg' href='https://www.linkedin.com/in/leixiaoyu/en')
              i(class='fa fa-linkedin-square fa-fw')
              span.network-name LinkedIn