extends layout

block content
  header.intro
    div.intro-body
      div.container
        div.row
          div(class='col-md-8 col-md-offset-2')
            h1.brand-heading A.K.A.
            p.intro-text 
              | People know me by different names. Xiaoyu is just one of them. Raymond is another. 
              | And Thunder. And Hui-yu. And Shaw-you. 
              | All the AKAs refer to the same person but each of them has a differnt story behind its name.
            a(class='btn btn-circle page-scroll', href='#about')
              i(class='fa fa-angle-double-down animated')

  section#about(class='container content-section text-center')
    div.row
      div(class='col-lg-8 col-lg-offset-2')
        h2 About Xiaoyu
        p.
          I, Xiaoyu, aka Raymond, am a software engineer with experience in automated testing. Currently, I work
          at <a href="http://cimpress.com/">Cimpress</a> (previously <a href="http://vistaprint.com">Vistaprint</a>) 
          as a member of the Enterprise Integration team. Outside the "grown-up" job, I keep myself 
          occupied by side projects, the latest of which is <a href="http://www.benefitmy.com/">BenefitMy</a>.
        p.
          I try to keep a annual report for myself. If you want to know about my goals and how is my progress on them, 
          please click <a class="page-scroll" href="#contact">here</a> to supply your email address. It is an honor for 
          me to have you as a witness on my goals and progress. 
        a(class='btn btn-circle page-scroll', href='#timeline')
          i(class='fa fa-angle-double-down animated')
  
  section#timeline(class='container content-section text-center')
    div.row
      div.col-lg-12
        h2 My Timeline
        ul.timeline
          li
            div.timeline-image
              img(class='img-circle img-responsive' src='/images/1.jpg' alt='')
            div.timeline-panel
              div.timeline-heading
                h4 2006 - 2010
                h4.subheading The City of Heaven 
              div.timeline-body
                p.text-muted
                  | Spent 4 years at Zhejiang University (Hangzhou, China) to obtain my bachlor degree in Business. The  
                  | newly erupt campus in the beautiful city lies some of my most valuable memories. 
          li.timeline-inverted
            div.timeline-image
              img(class='img-circle img-responsive' src='/images/2.jpg' alt='')
            div.timeline-panel
              div.timeline-heading
                h4 2010 - 2013
                h4.subheading The Empire State
              div.timeline-body
                p.text-muted
                  | Came to Rensselaer Polytechnic Institute (Troy, NY) for a graduate degrees. Between degrees, I was 
                  | fortunate enough to work for Ken at Ithos Global where I learned how to be a better me. Stepped into 
                  | software developer's world for the first time, and to my surprise, I'M LOVIN' IT.
          li
            div.timeline-image
              img(class='img-circle img-responsive' src='/images/3.jpg' alt='')
            div.timeline-panel
              div.timeline-heading
                h4 2013 - Present
                h4.subheading The Athens of America
              div.timeline-bocy
                p.text-muted
                  | Came to Boston, my favorite city in the U.S. Here, I get to know many wonderful persons, as 
                  | mentors, senpais, friends and colleague. Fortuna surprised me again, presenting an opportunity at 
                  | BenefitMy, which has become my latest project that fills my leisure times. 
                

  section#download(class='content-section text-center')
    div.download-section
      div.container
        div(class='col-lg-8 col-lg-offset-2')
          h2 My Projects
          p.
            Coming soon.

  section#contact(class='container content-section text-center')
    div.row
      div(class='col-lg-8 col-lg-offset-2')
        h2 Contact Xiaoyu
        p.
          Feel free to contact me to provide some feedback on my homepage, give me suggestions, or to just say hello.
        a(href='mailto:feedback[at]leixiaoyu.com')
        ul(class='list-inline banner-social-buttons')
          li
            a(class='btn btn-default btn-lg' href='https://www.linkedin.com/in/leixiaoyu/en')
              i(class='fa fa-linkedin-square fa-fw')
              span.network-name LinkedIn