extends layout

block content
  header.intro
    div.intro-body
      div.container
        div.row
          div(class='col-md-8 col-md-offset-2')
            h1.brand-heading A.K.A.
            p.intro-text 
              | People know me by different names. Xiaoyu is just one of them. Raymond is another. 
              | And Thunder. And Hui-yu. And Shaw-you. 
              | All the AKAs refer to the same person but each of them has a differnt story behind its name.
            a(class='btn btn-circle page-scroll', href='#about')
              i(class='fa fa-angle-double-down animated')

  section#about(class='container content-section text-center')
    div.row
      div(class='col-lg-8 col-lg-offset-2')
        h2 About Xiaoyu
        p.
          I, Xiaoyu, aka Raymond, am a software engineer with experience in automated testing. I work
          at <a href="http://cimpress.com/">Cimpress</a> (previously <a href="http://vistaprint.com">Vistaprint</a>) 
          as a member of the Enterprise Integration team. Outside the "grown-up" job, I keep myself 
          occupied by side projects, the latest of which is <a href="http://www.benefitmy.com/">BenefitMy</a>.
        p.
          I try to keep an annual report for myself. If you want to know about my goals and how much progress I have made, 
          please click <a class="page-scroll" href="#contact">here</a> to supply your email address. It is an honor to 
          have you as a witness on my goals. 
        a(class='btn btn-circle page-scroll', href='#timeline')
          i(class='fa fa-angle-double-down animated')
  
  section#timeline(class='container content-section text-center')
    div.row
      div.col-lg-12
        h2 My Timeline
        ul.timeline
          li
            div.timeline-image
              img(class='img-circle img-responsive' src='/images/timeline/hangzhou.jpg' alt='')
            div.timeline-panel
              div.timeline-heading
                h4 2006 - 2010
                h4.subheading The City of Heaven 
              div.timeline-body
                p.text-muted
                  | Spent 4 years at Zhejiang University (Hangzhou, China) to obtain my bachlor degree in Business. The  
                  | newly erupted campus in the beautiful city captured some of my most valuable memories. 
          li.timeline-inverted
            div.timeline-image
              img(class='img-circle img-responsive' src='/images/timeline/newyork.jpg' alt='')
            div.timeline-panel
              div.timeline-heading
                h4 2010 - 2013
                h4.subheading The Empire State
              div.timeline-body
                p.text-muted
                  | Came to Rensselaer Polytechnic Institute (Troy, NY) for graduate degrees. Between degrees, I was 
                  | fortunate enough to work for Ken at Ithos Global where I learned how to be a better me. Stepped into 
                  | software developer's world for the first time, and to my surprise, I'M LOVIN' IT.
          li
            div.timeline-image
              img(class='img-circle img-responsive' src='/images/timeline/boston.jpg' alt='')
            div.timeline-panel
              div.timeline-heading
                h4 2013 - Present
                h4.subheading The Athens of America
              div.timeline-bocy
                p.text-muted
                  | Came to Boston, my favorite city in the U.S. Here, I got to know many wonderful people, as 
                  | mentors, senpais, friends and colleague. Got an opportunity to work at 
                  | BenefitMy, which has become my latest project that fills my leisure times. 
          li.timeline-inverted
            div.timeline-image
              h4 What's </br>in the future?                

  section#projects(class='content-section text-center')
    div.project-section
      div.container
        div.row
          div.col-lg-12(class='text-center')
            h2.section-heading My projects
        div.row
          div(class='col-md-4 project-item')
            a.project-link(data-toggle='modal' href='#portfolioModal1')
              div.project-hover
                div.project-hover-content
                  i(class='fa fa-plus fa-3x')
              img.img-responsive(src='images/projects/roundicons.png')

  section#contact(class='contact-form-container text-center')
    div.container
      div.row
        div(class='col-lg-12 text-center')
          h2.section-heading Contact Xiaoyu
      div.row
        div.col-lg-12
          form#contactForm(name='sentMessage' class='contact-form')
            div.row
              div.col-md-6
                div.form-group
                  input#name.form-control(type='text' placeholder='Your Name *' required data-validation-required-message='Please enter your name.')
                  p(class='help-block text-danger')
                div.form-group
                  input#email.form-control(type='email' placeholder='Your Email *' required data-validation-required-message='Please enter your email address')
                  p(class='help-block text-danger')
              div.col-md-6
                div.form-group
                  textarea#message.form-control(placeholder='Your Message *' required data-validation-required-message='Please enter a message')
                  p(class='help-block text-danger')
              div.clearfix
              div(class='col-lg-12 text-center')
                div#success
                button(type='submit' class='btn btn-xl') Send Message
