extends layout

block content
  header.intro
    div.intro-body
      div.container
        div.row
          div(class='col-md-8 col-md-offset-2')
            h1.brand-heading A Story of A.K.A.
            p.intro-text People knows me by different names. Lei, Xiaoyu is just one of them. Raymond is another.
            a(class='btn btn-circle page-scroll', href='#about')
              i(class='fa fa-angle-double-down animated')

  section(id='about', class='container content-section text-center')
    div.row
      div(class='col-lg-8 col-lg-offset-2')
        h2 About Xiaoyu
        p.
          Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, 
          simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. 
          The theme is open source, and you can use it for any purpose, personal or commercial.

  section#download(class='content-section text-center')
    div.download-section
      div.container
        div(class='col-lg-8 col-lg-offset-2')
          h2 My On-going Projects
          p.
            You can visit my project gallary.
          a(class='btn btn-default btn-lg' href='http://startbootstrap.com/template-overviews/grayscale/') Visit Download page

  section#contact(class='container content-section text-center')
    div.row
      div(class='col-lg-8 col-lg-offset-2')
        h2 Contact Xiaoyu
        p.
          Feel free to contact me to provide some feedback on my homepage, give me suggestions, or to just say hello.
        a(href='mailto:feedback[at]leixiaoyu.com')
        ul(class='list-inline banner-social-buttons')
          li
            a(class='btn btn-default btn-lg' href='https://twitter.com/SBootstrap')
              i(class='fa fa-twitter fa-fw')
              span.network-name Twitter