doctype html
html.ng-app
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='personal page for leixiaoyu')
    meta(name='author', content='leixiaoyu')
    //- standard css distribution
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    //- template css distribution
    link(rel='stylesheet', href='/stylesheets/grayscale.css')
    link(rel='stylesheet', href='/stylesheets/mixins.css')
    link(rel='stylesheet', href='/stylesheets/variables.css')
    //- template fonts
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')

    //- custom css
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- force brower to refresh favicon
    link(rel='shortcut icon', href='http://localhost:3000/favicon.ico?v=2')

    //- javascripts
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/jquery.easing/js/jquery.easing.min.js')
    script(src='/javascripts/grayscale.js')

  body(id='page-top', data-target='.navbar-fixed-top', data-spy='scroll')

    nav(role='navigation', class='navbar navbar-custom navbar-fixed-top')
      div.container
        div.navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse' data-target='.navbar-main-collapse')
            i(class='fa fa-bars')
          a(class='navbar-brand page-scroll' href='#page-top')
            i(class='fa fa-home')
            span.light  LEI

        div(class='collapse navbar-collapse navbar-right navbar-main-collapse')
          ul(class='nav navbar-nav')
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='#about') About
            li
              a.page-scroll(href='#timeline') Timeline
            li
              a.page-scroll(href='#projects') Projects
            li
              a.page-scroll(href='#contact') Contact

    block content

    //- footer
    footer
      div(class='container text-center')
        p Copyright &copy; LEIXIAOYU 2015
